# Exercise 4.6 | Merging Dataframes

In [1]:
# Import libraries 
import pandas as pd
import numpy as np
import os

In [2]:
# Import data for df_ords_prior
df_ords_prior = pd.read_csv(r'/Users/abrockk12.wv.us/Documents/Career Foundry/Instacart Basket Analysis/02 Data/Original Data/orders_products_prior.csv', index_col = False)
df_ords = pd.read_csv(r'/Users/abrockk12.wv.us/Documents/Career Foundry/Instacart Basket Analysis/02 Data/Prepared Data/orders_cleaned.csv', index_col = False)

In [3]:
df_ords_prior.shape

(32434489, 4)

In [4]:
df_ords.shape

(3421083, 8)

In [5]:
# Merge df_ords_prior and df_ords
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'inner', indicator = True)
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [6]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [7]:
# Export merged dataframe as orders_products_combined using pickle format
orders_products_combined = df_merged_large
path = r'/Users/abrockk12.wv.us/Documents/Career Foundry/Instacart Basket Analysis'
orders_products_combined.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))