# Exercise 4.6

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Import Data
path = r'/Users/abrockk12.wv.us/Documents/Career Foundry/Instacart Basket Analysis'
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [3]:
# Check dataframes
orders_products_combined.head()
orders_products_combined.shape
df_prods.info()
orders_products_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     49672 non-null  int64
 1   product_id     49672 non-null  int64
 2   product_name   49672 non-null  object
 3   aisle_id       49672 non-null  int64
 4   department_id  49672 non-null  int64
 5   prices         49672 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 12 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0.1            int64
 1   Unnamed: 0              int64
 2   order_id                int64
 3   user_id                 int64
 4   order_number            int64
 5   orders_day_of_week      int64
 6   order_hour_of_day       int64
 7   days_since_prior_order  float64
 8   product_id              int64
 9   add_to_cart_order       int64
 10  reordered               int64
 11  _merge                  category
dtypes: category(1), float64(1), int64(10)
memory usage: 2.7 GB

In [4]:
orders_products_combined.shape

(32434489, 12)

In [5]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [6]:
df_prods['product_id'].value_counts(dropna = False)

product_id
26520    2
6800     2
1        1
33136    1
33127    1
        ..
16576    1
16577    1
16578    1
16579    1
49688    1
Name: count, Length: 49670, dtype: int64

In [7]:
# Drop _merge column from orders_products_combined
orders_products_combined = orders_products_combined.drop(columns = ['_merge'])

In [8]:
# Check dataframe
orders_products_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,0,0,2539329,1,1,2,8,NaN,196,1,0
1,0,0,2539329,1,1,2,8,NaN,14084,2,0
2,0,0,2539329,1,1,2,8,NaN,12427,3,0
3,0,0,2539329,1,1,2,8,NaN,26088,4,0
4,0,0,2539329,1,1,2,8,NaN,26405,5,0

## Merge Dataframes

In [9]:
# Merge orders_products_combined with df_prods on 'product_id'
orders_products_merge = orders_products_combined.merge(df_prods, on = 'product_id', how = 'inner', indicator = True)

In [10]:
orders_products_merge.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,1,1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,2,2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,3,3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,4,4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [11]:
# Drop column
orders_products_merge = orders_products_merge.drop(columns = ['Unnamed: 0.1'])

In [12]:
# Check merge counts
orders_products_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [13]:
orders_products_merge.shape

(32404859, 16)

In [14]:
# Export as pickle
orders_products_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))